/*
 * Base structure
 #495525 - DC dark green r73,g85,b37
 #77A240 - DC mid green r119,g162, b64
 #a5c727 - DC light green r165,g199,b39
 */

@brand-primary:         #495525;
@brand-secondary:       #77a240;
@brand-tertiary:		#a5c727;

@text-color:			#333333;
@link-color:			@brand-secondary;

@nav-bar-text-color:	#ffffff;
@nav-bar-background:	@brand-secondary;
@nav-bar-hover:			@brand-primary;
@nav-bar-align:			right;

@input-focus-highlight: rgba(119,162,64,.6);
@input-focus-border: rgba(119,162,64,.8);